body {
  font-family: sans-serif;
  background-color: #121213;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

#grid {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.linha {
  display: flex;
  gap: 5px;
}

.celula {
  width: 50px;
  height: 50px;
  background-color: rgb(29, 19, 19);
  border: 3px solid #ccc;
  font-size: 2rem;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.certa {
  background-color: #538d4e;
  border-color: #538d4e;
}

.quase {
  background-color: #b59f3b;
  border-color: #b59f3b;
}

.errada {
  background-color: #444;
  border-color: #444;
}

#mensagem {
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

#mensagem.erro {
  color: red;
}

#mensagem.sucesso {
  color: green;
}

#mensagem.info {
  color: orange;
}

#teclado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    max-width: 600px;
    margin: 20px auto;
}

.linha-teclado {
    display: flex;
    gap: 6px;
    justify-content: center;
}


.tecla {
    width: 40px;
    height: 50px;
    background-color: #ccc;
    color: #222;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: background-color 0.3s ease;
}

.tecla-grande {
    width: 70px;
    background-color: #bbb;
}


.tecla.certa {
    background-color: #538d4e;
    color: white;
}

.tecla.quase {
    background-color: #b59f3b;
    color: white;
}

.tecla.errada {
    background-color: #3a3a3c46;
    color: rgba(255, 255, 255, 0.247);
}

.celula.ativo {
    border: 2px solid rgb(81, 58, 58);
    background-color:  rgb(81, 58, 58);
}